html {
    height: 100%;
}
body {
    height: 100%;
    text-align: center;
    margin: 0;
    font-size: 100%;
    font-family: tahoma;
    color: #333;
    background: -webkit-linear-gradient(top, white, #ffe6cc);
    background: linear-gradient(top, white, #ffe6cc);
}
.loginFormContainer {
    display: inline-block;
    height: 600px;
    width: 600px;
    background: url(../images/loginBG.png);
    box-sizing: border-box;
    padding-top: 210px;
}
.loginForm {
    display: inline-block;
    width: 250px;
}
.loginFormRow {
    padding: 5px;
    text-align: justify;
    line-height: 0;
}
.loginFormRow:after {
    content: '';
    width: 100%;
    display: inline-block;
    height: 0;
    line-height: 0;
    position: relative;
    z-index: -1;
}
.loginFormRow a {
    font-size: 0.8em;
    color: #dddddd;
    text-align: left;
}
.rowTitle {
    font-weight: bold;
}
.rowContent input {
    background: transparent;
    border: 2px inset #9d7655;
}
input[type="submit"] {
    background: rgba(179, 136, 98, 0.68);
    border: 2px outset #9d7655;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.05em;
}
.loginFormRow a,
.rowTitle,
.rowContent,
input[type="submit"] {
    position: relative;
    z-index: 1;
}