<style type="text/css">
					.wmap IMG { position: absolute; }
					.map { left: 50px; top: 250px; z-index: 2; }
					.village { left: 450px; top: 450px; z-index: 3; }
					.village1 { left: 455px; top: 720px; z-index: 3; }
					.village2 { left: 320px; top: 450px; z-index: 3; }
				</style>
				<b>This is the worlds map</b>
				<br><br>
				<b>01:01/15:15</b>
				<br>
				<p class="wmap">
					<img src="images/worldmap.jpg" alt="Map preview" style="width:1024px;height:1024px;" class="map">
					<a href="/city.html" ui-sref="main.city"><img src="images/village.png" alt="Village preview" style="width:80px;height:80px;" class="village"></a>
					<a href="/city.html" ui-sref="main.city"><img src="images/village.png" alt="Village preview" style="width:80px;height:80px;" class="village1"></a>
					<a href="/city.html" ui-sref="main.city"><img src="images/village.png" alt="Village preview" style="width:80px;height:80px;" class="village2"></a>
				</p>